{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": "last 5 Chrome versions"
        },
        "loose": true,
        "modules": false,
        "useBuiltIns": true
      }
    ],
    "react"
  ],
  "plugins": [
    "babel-plugin-styled-components",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
