//= require jquery
//= require jquery_ujs
//= require_tree .

var map = L.mapbox.map('map', 'timdorr.g9a9eko1', {zoomControl: false});

map.dragging.disable();
map.touchZoom.disable();
map.doubleClickZoom.disable();
map.scrollWheelZoom.disable();
if (map.tap) map.tap.disable();

var carData = [];
var carPathLayer, routePathLayer;
var carGeoJSON = { type: 'LineString', coordinates: [] };

var locationIcon = L.icon({
  iconUrl:    "<%= asset_path("bluedot.png") %>",
  iconSize:   [17, 17],
  iconAnchor: [8,  8],
  className:  "location-icon"
});
var locationPulse = L.divIcon({
  iconSize:  [50, 50],
  className: "location-pulse",
  html:      "<div class='pulse'></div>"
});

var locationMarker, locationMarkerPulse;

function loadTelemetry() {
  routePathLayer = L.geoJson(routeGeoJSON, { style: { weight: 6 } }).addTo(map);

  $.ajax({
    dataType: "json",
    url: "/telemetry"
  }).done(function(response){
      carData = response.data;
      var length = carData.length;

      for (var i = 0; i < length; i++) {
        carGeoJSON.coordinates.push([carData[i].lng, carData[i].lat]);
      }

      carPathLayer = L.geoJson(carGeoJSON, { style: { color:"#0f9727", weight: 3, dashArray: "5,10" } }).addTo(map);

      var lastLocation = carData[carData.length-1];

      locationMarkerPulse = L.marker([lastLocation.lat, lastLocation.lng], { icon: locationPulse });
      locationMarkerPulse.addTo(map);

      locationMarker = L.marker([lastLocation.lat, lastLocation.lng], { icon: locationIcon  });
      locationMarker.addTo(map);
    });
}

setTimeout(loadTelemetry, 100);