@mixin background-img($image, $image-width, $image-height) {
  $width: $image-width/2;
  $height: $image-height/2;

  display: block;
  background-image: image-url($image);
  background-size: $width $height;
  width: $width;
  height: $height;
}
