@mixin background-img($image, $width: image-width($image)/2, $height: image-height($image)/2 ) {
  display: block;
  background-image: image-url($image);
  background-size: $width $height;
  width: $width;
  height: $height;
}